/*3.3 wpo-about-section */

@use "../global/vars" as *;
@use "../global/mixins" as *;
@use "tailwindcss";

.wpo-about-section {
    @media (max-width:991px) {
        padding-bottom: 0;
    }



    .about-left-image {
        // @apply flex items-center;
        position: relative;
        z-index: 1;
        max-width: 730px;
        max-height: 810px;
        width: fit-content;

        // margin-left: -150px;


        @media (max-width:1399px) {
            margin-left: 0px;
        }

        @media (max-width:991px) {
            margin-bottom: 100px;
        }

        @media (max-width:575px) {
            margin-bottom: 80px;
        }

        .img-wraper {
            position: relative;

            img {
                // width: 100%;

                // height: 100%;
                // // max-height: 550px;
                // object-fit: cover;

                min-width: 100%;
                min-height: 100%;

            }

            &::before {
                position: absolute;
                left: -10px;
                top: -10px;
                height: 85%;
                width: 77%;

                content: '';
                background: $color-theme;
                z-index: -1;
            }

            &::after {
                position: absolute;
                right: -10px;
                bottom: -10px;
                height: 85%;
                width: 77%;

                content: '';
                background: $color-theme;
                z-index: -1;
            }
        }

        .ab-2 {
            position: absolute;
            right: -40px;
            bottom: -100px;
            max-width: 300px;
            max-height: 300px;
            border-radius: 100%;
            background-color: #fff;
            border: 6px solid #fff;

            @media (max-width:1399px) {
                max-width: 250px;
                max-height: 250px;
                right: 0px;
            }

            @media (max-width:575px) {
                max-width: 150px;
                max-height: 150px;
                bottom: -50px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 100%;

            }
        }
    }

    .content {
        h2 {
            color: $color-theme;
            font-size: 22px;
            font-weight: 600;
            margin-bottom: 5px;

            @media (max-width:575px) {
                font-size: 20px;
            }
        }

        h3 {
            color: $color-heading;
            font-size: 50px;
            font-weight: 700;
            line-height: 75px;
            margin-bottom: 20px;

            @media (max-width:1399px) {
                font-size: 45px;
            }

            @media (max-width:1199px) {
                font-size: 40px;
                line-height: 50px;
            }

            @media (max-width:575px) {
                font-size: 25px;
                line-height: 45px;
            }
        }

        p {
            color: $cyan;
            font-size: 16px;
            // font-size: 18px;
            font-weight: 400;
            line-height: 30px;
            margin-bottom: 25px;
            max-width: 623px;

            @media (max-width:575px) {
                font-size: 15px;
            }
        }


    }
}