@use "../global/vars" as *;
@use "../global/mixins" as *;
@use "../global/global" as *;

.highlightSection_3 {
    // transform: translateY(-50%);
    padding: 0;
    margin-top: -130px;
    position: relative;
    z-index: 10;

    .wraper {
        display: flex;
        gap: 24px;

        .item {
            padding: 24px 40px;
            background-color: $color-theme;
            border-radius: 16px;
            color: white;
            overflow: hidden;
            position: relative;

            .icon {
                height: 92px;
                width: 92px;
                border-bottom-left-radius: 16px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #fff;
                flex-shrink: 0;
                position: absolute;
                top: 0;
                right: 0;

            }

            h2 {
                font-size: 64px;
                font-weight: 700;
                @extend .barlowFont;
                color: currentColor;
                line-height: normal;
                margin-bottom: 0;
            }

            h3 {
                font-size: 32px;
                font-weight: 700;
                // margin-top: 16px;
                @extend .barlowFont;
                line-height: normal;
                color: currentColor;
            }

            p {
                font-size: 16px;
                margin-top: 16px;
                color: currentColor;
            }

            a {
                font-size: 20px;
                font-weight: 600;
                display: flex;
                align-items: center;
                gap: 6px;
                color: currentColor;


                span {
                    height: 30px;
                    width: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-shrink: 0;
                    background-color: #fff;
                    border-radius: 50%;

                    svg {
                        height: 18px;
                        color: $color-theme;
                    }
                }
            }
        }
    }
}

.highlightSection_4 {
    width: 100%;
    margin-top: 50px;

    @include breakpoint-down(xxl) {
        margin-top: 20px;
    }

    .wraper {
        display: flex;
        gap: 16px;
        width: 100%;

        .item {
            padding: 24px;
            background-color: white;
            border-radius: 8px;
            color: #1E1E1E;
            overflow: hidden;
            position: relative;
            display: flex;
            // gap: 24px;
            justify-content: space-between;
            // flex-shrink: 0;

            &:hover {
                background-color: $color-theme;
                color: #fff;

                .icon {
                    background-color: #fff;

                    svg {
                        color: $color-theme;
                    }
                }
            }

            .content {

                // flex-grow: 1;
                h2 {
                    font-size: 28px;
                    font-weight: 700;
                    // @extend.barlowFont;
                    color: currentColor;
                    line-height: normal;
                    white-space: nowrap;
                }

                p {
                    font-size: 16px;
                    color: currentColor;
                    margin-bottom: 0;
                }
            }

            .icon {
                height: 48px;
                width: 48px;
                border-radius: 50%;
                background-color: #1E1E1E;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;
                margin-right: -10px;

                svg {
                    color: #fff;
                }
            }
        }
    }
}