@use "../global/vars" as *;
@use "../global/mixins" as *;

// @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/*3.4 wpo-service-section */
.wpo-service-section {
    // background-color: $color-theme;
    color: #fff;
    padding-top: 50px;
    padding: 120px 0;

    @include breakpoint-down(lg) {
        padding: 80px 0;
    }

    @include breakpoint-down(md) {
        padding: 50px 0;
    }


    .heading-layout2 {
        .heading__subtitle {
            font-size: 18px;
            font-weight: 700;
            line-height: 26px;
            margin-bottom: 10px;
            color: $color-theme;

            @include breakpoint-down(md) {
                font-size: 16px;
            }
        }

        .heading__title {
            font-size: 44px;
            color: #1B1A1A;
            line-height: 52px;
            font-weight: 700px;
            margin-bottom: 20px;

            @include breakpoint-down(lg) {
                font-size: 36px;
                line-height: 48px;
            }

            @include breakpoint-down(md) {
                font-size: 30px;
                line-height: 44px;
                margin-bottom: 10px;
            }
        }
    }

    &.s2 {
        padding-top: 120px;

        @media (max-width:991px) {
            padding-top: 90px;
        }

        @media (max-width:767px) {
            padding-top: 80px;
        }
    }

    .wpo-section-title {
        h2 {
            color: #233FD6;
            font-size: 22px;
            font-weight: 600;
            text-transform: capitalize;

        }

        h3 {
            color: currentColor;
            font-size: 50px;
            font-weight: 700;
            line-height: 75px;
            text-transform: capitalize;

        }

        @media (max-width:767px) {
            text-align: center;
        }
    }

    .service-wrap {
        // padding-left: 160px;
        width: 90vw;

        @media (max-width:1520px) {
            padding-left: 120px;
        }

        @media (max-width:1299px) {
            padding-left: 30px;
        }

        @media (max-width:1199px) {
            padding-left: 20px;
        }

        @media (max-width:767px) {
            padding-left: 0px;
            padding: 0 10px;
        }
    }
}

.service-slider {
    .item {

        display: flex;
        flex-direction: column;
        border-radius: 12px;
        position: relative;
        overflow: hidden;
        height: 485px;
        // justify-items: end;
        justify-content: space-between;
        padding: 16px;

        @include breakpoint-down(xl) {
            height: 380px;

        }

        @include breakpoint-down(md) {
            height: 300px;

        }

        // .count {
        //     position: absolute;
        //     top: 0;
        //     right: 0;
        //     z-index: 10;
        //     border-bottom-left-radius: 16px;
        //     background-color: white;
        //     display: flex;
        //     align-items: center;
        //     justify-content: center;
        //     color: #1E1E1E;
        //     font-size: 28px;
        //     font-weight: 700px;
        //     height: 64px;
        //     width: 64px;
        // }

        .image {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            overflow: hidden;
            height: 100%;
            width: 100%;

            img {
                min-width: 100%;
                min-height: 100%;
                max-width: none;
                max-height: none;
                object-fit: contain;
                transition: all .8s ease-in-out;
            }

            // span {
            //     position: absolute;
            //     right: 15px;
            //     top: 0px;
            //     font-size: 60px;
            //     font-weight: 800;
            //     color: transparent;
            //     -webkit-text-stroke-width: 1px;
            //     -webkit-text-stroke-color: #fff;
            //     z-index: 1;

            // }

            // .line-one {
            //     position: absolute;
            //     left: 0;
            //     top: 0;
            //     width: 100%;
            //     height: 100%;

            //     &::before {
            //         position: absolute;
            //         left: 10px;
            //         bottom: -10px;
            //         width: 1px;
            //         height: 0;
            //         content: '';
            //         background: #fff;
            //         transition: all .2s ease-in-out;
            //     }

            //     &::after {
            //         position: absolute;
            //         right: 10px;
            //         top: -10px;
            //         width: 1px;
            //         height: 0;
            //         content: '';
            //         background: #fff;
            //         transition: all .5s ease-in-out;
            //     }

            // }

            // .line-two {
            //     position: absolute;
            //     left: 0;
            //     top: 0;
            //     width: 100%;
            //     height: 100%;

            //     &::before {
            //         position: absolute;
            //         right: 10px;
            //         bottom: 10px;
            //         width: 0;
            //         height: 1px;
            //         content: '';
            //         background: #fff;
            //         transition: all 1s ease-in-out;
            //     }

            //     &::after {
            //         position: absolute;
            //         left: 10px;
            //         top: 10px;
            //         width: 0;
            //         height: 1px;
            //         content: '';
            //         background: #fff;
            //         transition: all .4s ease-in-out;
            //     }

            // }

        }

        .icon {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            background: $color-theme;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            // margin-top: -90px;
            z-index: 1;
            transition: all .3s ease-in-out;

            img {
                width: 40px;
                height: 40px;
            }
        }

        .content-wraper {
            transition: all 300ms ease-in;
            max-height: 72px;
            overflow: hidden;
            border-radius: 12px;

            .content {
                background: $light;
                // padding: 40px 30px;
                padding: 16px;
                flex-grow: 1;
                background-color: #fff;
                border-radius: 12px;



                .top {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 16px;
                    // border-radius: 12px;

                    h2 {
                        // margin-top: 20px;
                        font-weight: 700;
                        font-size: 20px;

                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        // margin-bottom: 8px;
                        line-height: normal;
                        margin-bottom: 0px;

                        a {
                            color: #000;
                            font-size: 20px;
                            font-weight: 700;
                            transition: all .3s ease-in-out;
                            line-height: normal;





                            &:hover {
                                color: $color-theme;
                            }
                        }
                    }

                    .arrowIcon {
                        height: 40px;
                        width: 40px;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-shrink: 0;
                        background-color: $color-theme;

                        svg {
                            width: 24px;
                            height: auto;
                            color: #fff;
                        }
                    }
                }



                p {
                    color: $color-dark;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    margin-bottom: 0;
                }
            }
        }


        &:hover {
            .content-wraper {
                max-height: 300px;
            }

            .image {

                img {
                    transform: scale(1.2);
                }

                .line-one {

                    &::before {
                        height: 100%;
                    }

                    &::after {
                        height: 100%;
                    }

                }

                .line-two {

                    &::before {
                        width: 100%;
                    }

                    &::after {
                        width: 100%;
                    }

                }

            }

            .content {
                .top {
                    // margin-bottom: 8px;

                    h2 {
                        a {
                            color: $color-theme;
                        }
                    }
                }

                .icon {
                    transform: rotateY(180deg);
                }
            }
        }
    }

    .owl-nav {
        display: none;
    }
}