/*---------------------------
    Counters
--------------------------*/
@use "../global/vars" as *;
@use "../global/mixins" as *;

.counter-item {
    margin-bottom: 20px;

    .counter {
        font-family: $font-heading;
        font-size: 40px;
        font-weight: 600;
        line-height: 1;
        margin-bottom: 10px;
        text-align: center;

        svg {
            height: 40px;
            width: 40px;
        }
    }

    .counter__desc {
        color: $color-body;
        font-size: 15px;
        font-weight: 700;
        margin-bottom: 0;
        padding-right: 30px;
        text-align: center;
    }
}

.counters-layout2 {
    .counter {
        font-size: 60px;
        font-weight: 600;
        color: $color-theme;


    }
}

.counter-light {

    .counter-item .counter,
    .counter-item .counter__desc {
        color: $color-white;
    }
}