/*---------------------
     VARIABLES
----------------------*/

/* Color Variables */

$color-theme: #d31f25;
// $color-theme: #fe5a0e;
$color-body: #9b9b9b;
$color-white: #ffffff;
$color-black: #000000;
$color-heading: #1b1a1a;
$color-dark: #6D7373;
// $color-dark: #222222;
$color-gray: #f9f9f9;


// color
$dark-gray: #000B47;
$body-color: #687693;
$white: #fff;
$light: #F8F8F8; //
$black: #000; //
$small-black: #625F71; //
$cyan: #525252; //

$theme-primary-color: #d31f25; //
// $theme-primary-color: #FF5E14; //
$theme-primary-color-s2: #233FD6; //
$body-bg-color: #fff;
$section-bg-color: #fafbfe;
$text-color: #1A1729; //
$text-light-color: #545454; //
$heading-color: $dark-gray;
$border-color: #ebebeb;
$border-color-s2: #d8e0f1;

/* Font Variables */

$font-heading: 'Barlow',
     sans-serif;

$font-body: 'Roboto',
     sans-serif;

$body-font-size: 15px;