// // Global

@use "./global/vars" as *;

@use "./global/mixins" as *;
@use "./global/global" as *;

// Layout
@use "layout/helpers" as *;
@use "layout/bg-colors" as *;
@use "layout/typography" as *;
@use "layout/pagetitle" as *;
@use "layout/buttons" as *;
@use "layout/forms" as *;
@use "layout/tabs" as *;
@use "layout/icons" as *;
@use "layout/breadcrumb" as *;
@use "layout/pagination" as *;
@use "layout/lists" as *;
@use "layout/animation" as *;
@use "layout/preloader" as *;
@use "layout/newBanner" as *;

// Modules
@use "module/header" as *;
@use "module/accordion" as *;
@use "module/footer" as *;
@use "module/cta" as *;
@use "module/carousel" as *;
@use "module/slider" as *;
@use "module/video" as *;
@use "module/features" as *;
@use "module/fancybox" as *;
@use "module/portfolio" as *;
@use "module/team" as *;
@use "module/testimonial" as *;
@use "module/clients" as *;
@use "module/blog" as *;
@use "module/contact" as *;
@use "module/pricing" as *;
@use "module/counters" as *;
@use "module/sidebar" as *;
@use "module/about" as *;
@use "module/banners" as *;
@use "module/careeres" as *;
@use "module/services" as *;




.cirtification-section {
    position: relative;
    overflow: hidden;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("/images/banner5.jpg");
        background-size: cover;
        background-position: center center;
        // filter: blur(20px);

        z-index: -1;
    }

    ul.list-items {
        padding: 24px;
        background-color: #FFFFFF33;
        border-radius: 16px;
        color: #fff;

        li {
            display: flex;
            align-items: start;
            gap: 8px;
            color: currentColor;

            &::before {
                display: none;
            }

            .checkIcon {
                height: 20px;
                width: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                background-color: currentColor;
                margin-top: 2px;

                svg {
                    height: 12px;
                    // fill: $color-theme;
                    color: $color-theme;
                    stroke-width: 3px;
                }
            }

        }
    }
}

// .portfolio-item {
//     .portfolio__title {
//         text-align: center;
//     }

//     .portfolio__desc {
//         text-align: center;
//     }

//     &:hover {
//         background-color: $color-theme;

//         .portfolio__title {
//             color: white;
//         }

//         img {
//             filter: brightness(0) invert(1);
//         }
//     }
// }


.wpo-feature-section {

    h5,
    h3,
    h2,
    span {
        margin-bottom: 5px;
    }
}


.basic-top-banner {
    position: relative;
    overflow: hidden;

    &::before {
        position: absolute;

        top: -10px;
        left: -10px;
        right: -10px;
        bottom: -10px;
        // inset: 10px;
        filter: blur(7px);
        height: calc(100% + 15px);
        width: calc(100% + 15px);
        z-index: -1;
        background: rgba(255, 255, 255, 0.1);
        background-image: var(--BasicTopBannerBgImgSrc);
        // background-image: url("/images/contactus.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }


}

.contact-info {
    .contact-info-box {
        background-color: $color-theme;
        color: #fff;
        border-radius: 5px;
        padding: 20px 30px;
        height: 100%;

        h4 {
            color: #fff;
        }

        ul {
            li {
                span {
                    font-weight: 600;
                }

                ;
                color: #fff;
                // font-weight: 600;

                a {
                    font-weight: 400;
                    color: #fff;
                }
            }
        }
    }
}


.swiper-autoheight,
.swiper-autoheight .swiper-slide {
    height: 100% !important;
}

.swiper-pagination {
    // bottom: -10px !important;

    .swiper-pagination-bullet {
        background-color: #9b9b9b;
        width: 16px;
        height: 4px;
        cursor: pointer;
        border-radius: 3px;
        margin: 0 5px;

        &.swiper-pagination-bullet-active {
            background-color: $color-theme;
        }
    }
}

.circleIcon {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: $color-theme;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        // height: 10px;
        // width: 10px;
        color: #fff;
        margin: 0;
    }
}

.cilclePhoneIcon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    // background-color: $color-theme;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px solid currentColor;

    svg {
        stroke-width: 0;
        fill: currentColor;
    }
}


input[type="file"].form-control {
    padding-left: 0;

    &::file-selector-button {
        height: 55px;
        padding: 0 20px;
        margin: 0;
        margin-right: 10px;
    }

}

// .ImageSingleSlider {
//     .swiper-slide {
//         width: 650px !important;
//     }

//     // img {

//     // }
// }

.popup {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .content {
        background: #fff;
        max-width: 80%;
        // max-width: 600px;
        padding: 30px;
        border-radius: 5px;
        // box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        position: relative;
        z-index: 10;

        @include breakpoint-down(md) {
            max-width: 90%;
            padding: 10px;
        }

        .closeBtn {
            position: absolute;
            top: 5px;
            right: 5px;
            // transform: translate(50%, -50%);
            cursor: pointer;
            font-size: 20px;
            color: $color-theme;

            @include breakpoint-down(md) {
                top: 0;
                right: 0;
                transform: translate(50%, -50%);
            }

            svg {
                // fill: #333;

            }

            &:hover {
                color: #999;
            }
        }
    }
}